* {
    padding: 0;
    margin: 0;
}

/* ----------------HEADER--------------------- */ 

#header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/main1.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    height: 100vh;
    width: auto;
    top: 0;
    text-align: center;
}

#header .navbar .navbar-brand{
    font-size: 25px;
    font-weight: 600;
    color: white;
}

#header .nav-item{
    padding: 0 10px;        
}

#header .nav-link{
    float: right;
    font-weight: 500;
    color: white;
}

#header h1 {
    color: white;
    font-size: 3rem;
    padding-top: 18%;
    padding-bottom: 5px;
    font-weight: bolder;
}

#header h6{
    color: whitesmoke;
}

#header marquee{
    color: whitesmoke;
    font-size: medium;
    font-weight: 500;
    padding-top: 15%;
}
/* ----------------ABOUT--------------------- */ 

#about {
    text-align: center;
    padding: 45px;
    background-color: #fff;
}

#about h3{
    padding-top: 25px;
    padding-bottom: 30px;
}

#about .row {
    padding: 1% ;     
}

#about p{
    text-align: justify;
    padding: 5px;
}

#about .row img{
    width: 100px;
    height: 100px;    
}

/* ----------------COURSE--------------------- */ 

#course {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/wave-1246560_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    padding: 10px;
    text-align: center;
    height: 150%;
}

#course h3 {
    
    padding: 25px 0;
    text-align: center;    
    color: white;
}

#course li{
    padding: 35px;
    background-color: transparent;
}

#course a{
    
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 400;
    
}   

#course  a:hover{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: white;     
    
}

#course .tab-content p{
    color: white;
    text-align: justify;
    
}


/* ----------------BLOG--------------------- */ 

#blog{
    text-align: center;
    padding: 15px; 
    position: relative;   
}

#blog h3{
    padding: 45px ;    
}

#blog .container {
    position: relative;
    width: 100%;
    padding: 25px 0;
  }
  
#blog  .image {
    width: auto;
    height: 350px;
  }
  
#blog .overlay {
    position: absolute;
    bottom: 0;
    right: 0;    
    background-color: transparent;
    opacity: 1;
    overflow: hidden;
    width: 100%;
    height: 350px;
    transform: scale(0);
    transition: .3s ease;
  }
  
#blog .container:hover .overlay {
    transform: scale(1);
    cursor: pointer;    
  }
  
.text {
    color: yellow;  
    font-weight: 700;
    border-bottom: 2px solid yellow;
    padding: 3px;
    font-size: 20px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

/* ----------------REVIEWS--------------------- */ 

#reviews {
    
    text-align: center;  
    background-color: #c1dfff; 
    padding: 55px 0; 
   
}

#reviews h3{
    margin: 40px  auto 120px !important;
    text-align: center;
    padding-bottom: 35px;
}

#reviews .main{
    width: 100%;
    min-height: 380px;
    text-align: center;
    position: relative;
    cursor: pointer;
    
}

#reviews .service {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    transition: transform 1s;

}

#reviews .service-logo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background: #fff;
    border: 10px solid #c1dfff;
}

#reviews .service-logo img{
    width: 85px;
    height: 85px;
    margin-top: 12px;
    border-radius: 50%;
    transition: transform 1s;
}

#reviews .service h4{
    height: 35px;
    width: 80%;
    background: #fff;
    margin: 50px auto;
    position: relative;
}

#reviews .service h4::after{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #fff, #007bff);
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
}

#reviews .service h4::before{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #007bff, #fff);
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}

#reviews .service p{
    text-align: justify;
}

#reviews .shadowOne {
    height: 200px;
    width: 80%;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    z-index: 0;
    
    transition: transform 0.8s;
}

#reviews .shadowTwo {
    height: 200px;
    width: 64%;
    background:white;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
    z-index: auto;
}

.main:hover .service{
    transform: translateY(-50px);
}

.main:hover .shadowOne{
    transform: translateY(-25px);
}

.main:hover img{
    transform: rotate(360deg);
}

/* ----------------CONTACT--------------------- */ 

#contact {
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/bridge1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: fit-content;
    color: white;
    left: auto;
    align-items: center;
}

#contact h3{
    padding: 45px;
}

#contact form{
    padding-top: 30px;
    width: 50%;
    display: inline-block;
    padding-bottom: 40px;    
}

/* ----------------FOOTER--------------------- */ 

#footer {
    padding: 15px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A605, #23D5AB);
    background-size: 400% 400%;
    animation: cycle 15s ease-in-out infinite;
    color: white;
}

@keyframes cycle{
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0 50%;}
}

#footer a{
    text-decoration: none;
    color: white;  
    font-weight: 500;  
}

#footer ul li{
    text-align: justify;
    list-style: none;
    text-decoration: none;
}

#footer .last-line{
    text-align: center;    
}

#footer img{
    height: 25px;
    width: 25px;
}

#footer img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

#footer .btn {
    margin-top: 15px;
}

#footer input{
    width: 85%;
}

#footer h6{
    font-size: medium;
    padding: 2px 0;
}

